apiVersion: v1
kind: Secret
metadata:
  name: hms-secrets
type: Opaque
stringData:
  db-username: "root"
  db-password: "hthe1234567"
  jwt-secret: "mySuperSecretKeyThatIsAtLeast32CharactersLongForJWT"


